<h1>Registra't</h1>

@if(errorMessage){
  <p>{{errorMessage}}</p>
}

<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="username">Nom</label>
    <input type="text" placeholder="Introdueix el teu nom" formControlName="username">
  </div>
  <div>
    <label for="email">Correu electrònic</label>
    <input type="text" placeholder="Introdueix un correu electrònic" formControlName="email">
  </div>
  <div>
    <label for="password">Contrasenya</label>
    <input type="password" placeholder="Password" formControlName="password">
  </div>
  <button type="submit">Sign Up</button>
  <p>Ja tens un compte? <a [routerLink]="['/auth/login']">Inicia sessió</a></p>
</form>