<div class="col-3">
  <div>
    <img class="img" src="../../../assets/icons/Bicing_logo.svg" alt="logo-bicing">
    <p class="rubik-large">perversió</p>
    <p class="color-red rubik-large">i socialisme</p>
  </div>
  
  <div class="card p-1-5 col-1-5">
    <h1 class="rubik-medium">Registra't</h1>
    
    @if(errorMessage){
      <p>{{errorMessage}}</p>
    }
    
    <form class="col-1" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="col-0-5">
        <label class="label" for="username">Nom</label>
        <input class="input" type="text" placeholder="Introdueix el teu nom" formControlName="username">
      </div>
      <div class="col-0-5">
        <label class="label" for="email">Correu electrònic</label>
        <input class="input" type="text" placeholder="Introdueix un correu electrònic" formControlName="email">
      </div>
      <div class="col-0-5">
        <label class="label" for="password">Contrasenya</label>
        <input class="input" type="password" placeholder="Introdueix la contrasenya" formControlName="password">
      </div>
      <button class="btn btn-primary" type="submit">Sign Up</button>
      <p>Ja tens un compte? <a class="link" [routerLink]="['/auth/login']">Inicia sessió</a></p>
    </form>
  </div>
</div>

