<div class="col-1-5 m-bottom-6">

  <div class="row-0 align-bottom sticky-header">
    <h1 class="rubik-medium fill">Els teus malsons</h1>
    <button class="btn btn-primary" [routerLink]="['/liades/add']">
      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15" fill="none">
        <line x1="7.08337" y1="0.5" x2="7.08337" y2="14.5" stroke="white" stroke-width="2.5"/>
        <line y1="7.41667" x2="14" y2="7.41667" stroke="white" stroke-width="2.5"/>
        </svg>
        <p>Afegeix</p>
    </button>
  </div>

  <ul class="col-1" *ngIf="liades.length; else noLiades">
    <li class="card row-0 align-center" *ngFor="let liada of liades">

      <p class="rubik-large p-1">{{ liada.times }}</p>

      <div class="col-1 p-1 border-x fill">
        <p>{{ liada.name }}</p>
        <div class="row-0-5">
          <button class="btn btn-primary fill" (click)="incrementByOne(liada.id)">💀 Again?</button>
          <button class="btn btn-secondary" (click)="decrementByOne(liada.id)">-1</button>
        </div>
      </div>

      <button class="p-1" [routerLink]="['/liades/delete', liada.id]">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
          <path
            d="M7 21.5C6.45 21.5 5.97933 21.3043 5.588 20.913C5.19667 20.5217 5.00067 20.0507 5 19.5V6.5H4V4.5H9V3.5H15V4.5H20V6.5H19V19.5C19 20.05 18.8043 20.521 18.413 20.913C18.0217 21.305 17.5507 21.5007 17 21.5H7ZM9 17.5H11V8.5H9V17.5ZM13 17.5H15V8.5H13V17.5Z"
            fill="#D51922" />
        </svg>
      </button>
    </li>
  </ul>

  <ng-template #noLiades>
    <p>No liades found.</p>
  </ng-template>
</div>

<router-outlet></router-outlet>