
<!-- <header class="max-width">
  <div class="image-container">
    <img src="../assets/icons/Bicing_logo.svg" alt="logo del bicing">
  </div>
  <h1 class="title">, perversió i socialisme</h1>
</header>
<app-login></app-login>
<p>No tens un compte? <a [routerLink]="'/signup'">Regístrate</a></p> -->

  <main class="max-width main-margin">
    <router-outlet></router-outlet>
     <!-- <app-liades-list></app-liades-list> -->
  </main>

  <footer>
    <app-navbar></app-navbar>
  </footer>





<!-- <footer class="bottom-fixed-container">
  <button (click)="logout()">Logout</button>
  <ul class="btns max-width">
    <li>
      <button class="btn btn-primary rubik-medium" [routerLink]="['/liades/add']">Afegeix una liada</button>
    </li>
    <li>
      <button class="btn btn-primary rubik-medium" [routerLink]="['/liades/update']">Quina han fet ara?</button>
    </li>
  </ul>
</footer> -->