<div class="modal-overlay"></div>
<div class="modal col-1">

  <p class="text-center">
    <svg class="text-center" xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none">
      <circle cx="28" cy="28" r="28" fill="#F2BABD" />
      <path opacity="0.3"
        d="M16.205 37.4999H38.795L27.5 17.9849L16.205 37.4999ZM29 35.9999H26V32.9999H29V35.9999ZM29 29.9999H26V23.9999H29V29.9999Z"
        fill="#D51922" />
      <path
        d="M11 40.5H44L27.5 12L11 40.5ZM16.205 37.5L27.5 17.985L38.795 37.5H16.205V37.5ZM26 33H29V36H26V33ZM26 24H29V30H26V24Z"
        fill="#D51922" />
    </svg>
  </p>

  <h2 class="rubik-medium fill text-center">Estàs segur que vols eliminar aquest registre?</h2>

  <div class="row-0-5">
    <button class="btn btn-primary fill" [routerLink]="['/liades']">cancel·la</button>
    <button class="btn btn-secondary" (click)="onDelete()">Sí</button>
  </div>


</div>