@mixin rubik ($weight, $size) {
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
  font-size: $size;
}

@layer reset {
  button {
    all: unset;
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
  }

  :is(li, ul) {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  input {
    all: unset;
    box-sizing: border-box;
  }

}

@layer base {
  body {
    background-color: $bg-color;
  }
}

@layer utilities {
  .border-x {
    border-right: 2px solid $secondary-color-black;
    border-left: 2px solid $secondary-color-black;
  }

  .rubik-regular {
    @include rubik(400, 0.875rem);
  }

  .rubik-medium {
    @include rubik(600, 1.25rem);
  }

  .rubik-large {
    @include rubik(600, 1.5rem);
  }

  .text-center {
    text-align: center;
  }

  .color-red {
    color: $primary-color;
  }
}

@layer components {
  .card {
    background-color: $secondary-color-white;
    border: 2px solid $secondary-color-black;
    border-radius: 1rem;
    overflow: hidden;
  }

  .btn {
    border-radius: 1.5rem;
    transition: transform 0.05s ease, background-color 0.2s ease;

    &.btn-primary {
      color: $secondary-color-white;
      background-color: $primary-color;
      border: 2px solid $secondary-color-black;
      box-shadow: 0px 2px 0px 0px $secondary-color-black;


      &:hover:not(:disabled) {
        background-color: $primary-color-dark;
      }

      &:active {
        transform: translateY(2px);
        box-shadow: none;
        background-color: $primary-color-dark;
      }

      &:disabled {
        cursor: not-allowed;
        background-color: $disabled;
        border: none;
        box-shadow: none;
      }
    }

    &.btn-secondary {
      color: $primary-color;
      background-color: $secondary-color-white;
      border: 2px solid $primary-color;
      box-shadow: 0px 2px 0px 0px $primary-color;

      &:hover:not(:disabled) {
        background-color: $secondary-color-white-dark
      }

      &:active {
        transform: translateY(2px);
        box-shadow: none;
        background-color: $secondary-color-white-dark;
      }

      &:disabled {
        cursor: not-allowed;
        border-color: $disabled;
        box-shadow: none;
      }
    }
  }

  .card-button {
    &:hover{
      background-color: $secondary-color-white-dark;
    }

    &:active{
      background-color: $primary-color-light;
    }
  }

  .navbar {
    background-color: $secondary-color-black;
    border-radius: 1.5rem;
    box-shadow: $shadow-small;
  }

  .navbar-item {
    border-radius: 1.5rem;
    color: white;
    transition: background-color 0.2s ease;

    &.active {
      background-color: $secondary-color-black-lighter;
    }
  }

  .modal-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);

  }

  .modal {
    background-color: $secondary-color-white;
    border-radius: 1rem;
    box-shadow: $shadow-small
  }

  .input {
    border-radius: 1.5rem;
    border: 2px solid $secondary-color-black;
    background-color: $secondary-color-white;
    color: $secondary-color-black-light;
    @include rubik(400, 1rem);

    &:focus {
      border: 3px solid $secondary-color-black;
    }
  }

  .label {
    color: $secondary-color-black-lighter;
    @include rubik(400, 0.875rem)
  }

  .link{
    color: $primary-color;

    &:hover {
      color: $primary-color-dark;
    }
  }

  .image-container {
    background-color: $secondary-color-white;
    border-radius: 12px;
  }

  .error {
    color: $primary-color;
  }
}