* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 16px;
}

main {
  margin: 2rem auto;
  max-width: 600px;
}

.title{
  margin: 0.5rem 0;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 7rem;
}

.column-layout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: stretch;
}

.row-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bottom-fixed-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  background-color: $secondary-color-black;
  z-index: 800;
}

.btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.btn {
  padding: 1rem;
  min-width: 8rem;
  width: 100%;
}

.icon-btn{
  display: flex;
  padding: 4px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  border-radius: 12px;
  max-width: 600px;
  width: 90%;
  z-index: 1000;
}

.input{
  padding: 0.8rem;
  width: 100%;
}

.image-container{
  object-fit: cover;
  padding: 1rem;
}

img{
  width: 200px;
  max-width: 100%;
  height: auto;
}

.error{
  padding: 0.5rem;
}