$primary-color: #D51922;
$primary-color-dark: #9c2e34;
$primary-color-light: #F2BABD;

$secondary-color-white: #fff;

$secondary-color-black: #242122;
$secondary-color-black-light: #3B3A3A;
$secondary-color-black-lighter: #434343;

$disabled: #dadada;

$bg-color: #F5F5F5;

$shadow-small: 2px 2px 12px 0px rgba(0, 0, 0, 0.18);
